
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502188021707'); /* IE9*/
  src: url('iconfont.eot?t=1502188021707#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502188021707') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502188021707') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502188021707#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nodejs:before { content: "\e6ba"; }

.icon-search:before { content: "\e63e"; }

.icon-search1:before { content: "\e6e2"; }

.icon-canvas:before { content: "\e668"; }

.icon-canvas1:before { content: "\e613"; }

.icon-socialangular:before { content: "\e501"; }

.icon-angular-logo:before { content: "\e60d"; }

.icon-chaxun:before { content: "\e60b"; }

.icon-vuejs:before { content: "\e617"; }

.icon-nodejs1:before { content: "\e506"; }

.icon-css3:before { content: "\e507"; }

.icon-css3-copy:before { content: "\e50a"; }

.icon-nodejs-copy-copy:before { content: "\e50c"; }

.icon-nodejs2:before { content: "\e643"; }

.icon-h5-copy:before { content: "\e502"; }

.icon-searchline:before { content: "\e654"; }

.icon-icon-:before { content: "\e74e"; }

.icon-angular:before { content: "\e73f"; }

.icon-icon-css:before { content: "\e602"; }

